[client]
user=root
password=
host=127.0.0.1
port=3306
socket = /gwn/run/mysql/mysql.sock

# The MySQL server #
[mysqld]

tmpdir  = /gwn/data/mysql/tmp
port=3306
bind-address=127.0.0.1

socket  = /gwn/run/mysql/mysql.sock
pid-file= /gwn/run/mysql/mysql.pid

basedir = /gwn/bin/mysql
datadir = /gwn/data/mysql/data

# Logs #
log-output = FILE

log-error   = /gwn/logs/mysql/error.log

log-bin     = /gwn/data/mysql/binlog/mysql-bin
binlog_format	= MIXED
expire_logs_days= 2
max_binlog_size = 100M

relay-log   = /gwn/data/mysql/relaylog/mysqld-relay-bin
relay-log-index     = /gwn/data/mysql/relaylog/mysqld-relay-bin.index
relay-log-info-file = /gwn/data/mysql/relaylog/relay-log.info

slow_query_log      = OFF
slow_query_log_file = /gwn/logs/mysql/slow.log
long_query_time     = 1

general_log        = OFF
general_log_file   = /gwn/logs/mysql/general.log

language = /gwn/bin/mysql/share/english

# Timeout #
interactive_timeout = 3600
wait_timeout = 3600

lock_wait_timeout =10

# InnoDB #
innodb_buffer_pool_size         = 128M
innodb_log_buffer_size          = 64M
innodb_log_file_size            = 128M
innodb_file_per_table           = ON
innodb_flush_log_at_trx_commit  = 2
innodb_data_file_path           = ibdata1:10M;ibdata2:10M:autoextend

# MyISAM #
key_buffer_size=8388608 #8M
read_buffer_size=131072 #128K
read_rnd_buffer_size=262144 #256K


# Replication #
skip-name-resolve
server-id = 1
replicate-ignore-db = mysql
replicate-ignore-db = test
replicate-ignore-db = information_schema
replicate-ignore-db = performance_schema

# Limits #
max_connections=5000
max_connect_errors = 50
open_files_limit = 65535
max_allowed_packet = 16777216 #16M


# Charser #
character-set-server = utf8

#Query Cache
query_cache_size=24M

# Buffers #
tmp_table_size=16777216 #16M

sort_buffer_size=262144 #256K

join_buffer_size=262144 #256K

binlog_cache_size=32768 #32K

thread_stack=262144 #256K

# Name reslove #
skip-name-resolve=false

# SQL optimization #
#Specifies how long in milliseconds (ms) a block inserted into the old sublist must stay there after its first access before it can be moved to the new sublist. 
#The default value is 0: A block inserted into the old sublist moves to the new sublist when Innodb has evicted 1/4 of the inserted block's pages from the buffer pool, no matter how soon after insertion the access occurs. 
#If the value is greater than 0, blocks remain in the old sublist until an access occurs at least that many ms after the first access. 
#For example, a value of 1000 causes blocks to stay in the old sublist for 1 second after the first access before they become eligible to move to the new sublist.
#innodb_old_blocks_time=250

#Specifies the approximate percentage of the buffer pool that InnoDB uses for the old block sublist. 
#The range of values is 5 to 95. The default value is 37 (that is, 3/8 of the pool).
innodb_old_blocks_pct=5

#innodb_max_dirty_pages_pct=0



#innodb_force_recovery=1

transaction-isolation=REPEATABLE-READ



# Monitor
innodb_monitor_enable = all 
performance_schema = OFF
userstat = 1 
#query_response_time_stats=1

performance-schema-instrument='memory/%=COUNTED'
